<h2>スカウト一覧</h2>
</br>
<% @scouts.each do |scout| %>
  <% if scout.user == current_user %>
  <div class="ui segment">
    </br>  
    <div class="ui grid">
      <h3 class="ui header"><%= scout.client.name %>様</h3>
      <p><%= scout.created_at.strftime('%Y年%m月%d日%H時%M分') %>にスカウトメッセージが届きました</p>
    </div>
    <div class="ui clearing divider"></div>
      <div>
        <h4>メッセージ：<%= scout.message %><h4>
        <%= link_to scout.client.name + "様詳細", client_path(scout.client), class:"ui blue button right floated" %>
        </br>
        </br>
      </div>
    </div>  
  <% end %>
<% end %>